* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(235, 219, 200);

}

.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.3em;
}
.textarea {
    width: 704px;
    height: 150px;
    display: block;
    outline: none;
    border: none;
    margin: 30px auto;
}
.textarea:focus {
    border: 2px solid rgb(224, 139, 86);
}

textarea {
    overflow: hidden;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.keyboard {
    width: 712px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    /* border: 1px solid black; */
    border-radius: 5px;
    padding-bottom: 6px;
    padding-top: 1px;
}

.row {
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    text-align: center;
    background-color:rgb(202, 149, 136);
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

.key:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(202, 149, 136);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.3);
}

.Backspace, .CapsLock, .ShiftLeft {
    width: 100px;
}
.Tab {
    width: 50px;
}
.Delete {
    width: 44px;
}
.Enter, .ShiftRight {
    width: 86px;
}
.Space {
    width: 330px;
}

.active {
    background-color: rgb(255, 255, 255);
    color: rgb(202, 149, 136);
    transition: 00.3s;
    transform: scale(1.3);
}

.text {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}